@model Conta

<h2>Informações da Conta</h2>


<div>
	<table>
		<tr>
			<th>Id</th>
			<td>@Model.Id</td>
		</tr>
		<tr>
			<th>Nome</th>
			<td>@Model.Nome</td>
		</tr>
		<tr>
			<th>Saldo</th>
			<td>@Model.Salario.ToString("C")</td>
		</tr>
	</table>
</div>